@import '../../variables'
@import '../../mixins'

.reg-form
  text-align: center

  &__title
    margin: 0

  &__subtitle
    font-size: 16px
    color: #4c4b4b
    margin: 20px 0 40px
  
.form
  display: flex
  flex-direction: column
  width: 100%
  max-width: 467px
  margin: 0 auto 120px

  +media(sm)
    margin: 0 auto 80px

  &__label
    display: flex
    flex-direction: column
    align-items: flex-start
    color: #212529
    font-size: 16px
    margin: 0 0 27px

  &-input-wrap
    width: 100%
    position: relative

    &::before
      content: ''
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      pointer-events: none
      

  &__input
    width: 100%
    border-radius: 7px
    margin: 14px 0 0
    padding: 13px
    border: 1px solid #ced4da
    font-size: 16px
    color: #404040

    &:focus
      outline: none
      border: 1px solid #80bdff
      box-shadow: 0px 0 0px 3px rgba(128, 189, 255, 0.2)

    &_error
      border: 1px solid #dc3545

      &:focus
        border: 1px solid #dc3545
        box-shadow: 0px 0 0px 3px rgba(219, 52, 69, 0.2)

    &::-webkit-input-placeholder 
      color: #ced4da
    &::-moz-placeholder
      color: #ced4da
    &:-ms-input-placeholder
      color: #ced4da
    &:-moz-placeholder
      color: #ced4da

  &__notification
    display: block
    margin: 10px 0 0
    font-size: 12px
    color: #dc3545

  &__submit
    margin: 0 auto

.form-radio-list
  display: flex
  flex-direction: column
  align-items: flex-start

  &__title
    display: block
    margin: 3px 0 25px

  &__label
    margin: 0 0 14px
    position: relative
    cursor: pointer
    display: flex
    align-items: center

  &__radio
    position: absolute
    top: 0
    left: 0
    opacity: 0

    &:checked ~ .form-radio-list__custom-radio
      background: $secondary_color

  &__custom-radio
    width: 16px
    height: 16px
    display: inline-block
    margin-right: 10px
    position: relative
    background: transparent
    border: 1px solid #afb7bf
    border-radius: 50%

    &::before
      content: ''
      border-radius: 50%
      position: absolute
      top: 50%
      left: 50%
      width: 6px
      height: 6px
      background: #ffffff
      transform: translate(-50%, -50%)

.load-photo
  margin: 12px 0 40px
  width: 100%
  text-align: left

  &__file-input
    display: none
    pointer-events: none

.custom-load-photo
  display: flex
  align-items: center
  width: 100%
  margin: 14px 0 0
  border-radius: 4px
  border: 1px solid #d4d9de
  cursor: pointer

  &__input
    width: 100%
    color: #b2b9c0
    font-size: 16px
    padding: 8px 15px
    border-right: 1px solid #d4d9de
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  &__browse
    width: 83px
    color: #212529
    font-size: 16px
    height: 38px
    pointer-events: none
    background: #f8f7f5

.congrats
  display: flex
  justify-content: center
  align-items: center
  background: rgba(0,0,0,.5)
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  opacity: 0
  transition: opacity, transform .4s ease

  &-content
    padding: 19px 17px 16px
    width: 100%
    max-width: 395px
    border-radius: 4px
    border: 1px solid rgba(0, 0, 0, 0.2)
    background-color: #ffffff
    position: relative

    &__title
      margin: 0
      font-size: 24px
      text-align: left

    &__close
      position: absolute
      top: 13px
      right: 0
      padding: 17px
      outline: none

    &__text
      color: #4c4b4b
      text-align: left
      margin: 40px 0 35px

    &__great-btn
      margin-left: auto

.enter 
  opacity: 0

.enter-active 
  opacity: 1
  transition: opacity, transform .4s ease

.enter-done
  opacity: 0
  transition: opacity, transform .4s ease