@import '../../mixins'
  
.primary-section
  color: #ffffff
  margin-top: 70px
  padding: 117px 0 114px
  background: url(../../assets/img/banner-photo.jpg) no-repeat center

  +media(sm)
    margin-top: 44px

  &__title
    width: 100%
    max-width: 540px
    color: #ffffff
    margin: 0 0 42px
    text-transform: uppercase

  &__description
    width: 100%
    max-width: 530px
    margin: 0 0 41px