@import '../../variables'
  
.about-candidate
  padding: 162px 0

  &__title
    margin: 0 0 72px
    text-align: center

.candidate-content
  display: flex
  align-items: flex-start

.candidate-content__laptop-img
  width: 100%
  max-width: 339px
  margin-right: 50px

.candidate-txt
  &__title
    margin: 0 0 16px
    color: #212529

  &__description
    margin: 16px 0
    width: 100%
    max-width: 550px
    color: #4c4b4b

  &__link
    color: $primary_color

    &:hover
      color: #d24335